@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    padding:0;
    margin:0;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('patrick-tomasso-QMDap1TAu0g-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    
}

#container{
    position:absolute;
    top:32%;
    left:35%;
    width:40vw;
    height:30vw;
    background-color: #39A2DB;
    border-radius:5px;
    overflow:hidden;
    display:grid;
    transform :translate(-25%,-25%);
    place-items: center;
    letter-spacing: 0.5px;
    font-family: 'Dancing Script', cursive;
    color:#797d7f;
}

#inner
{
    position: absolute;
    height:100%;
    width:80%;
    opacity:1;
    
}

#box{
    position: absolute;
    top:10%;
    left:2%;
    width:100%;
    height: 80%;
    background-color: #fff;
    border-radius:10px;
}

#number{
    position: absolute;
    margin:0;
    top:15px;
    right:30px;
}

#number img{
    width:45px;
    height:50px;
    position: absolute;
    left:-25px;
    top:-7px;
    cursor: pointer;
    animation: rot 1s linear;
} 

#number:hover img{
    animation:rot 1s linear;
}

@keyframes rot {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#quotes {
    position:relative;
    top:15%;
    left:5%;
    width:100%;
    font-size: 1.5rem;
    font-weight: 500;
   
}

 #quotes .text {
    margin:20px;
    padding-right:20px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 700;
    box-shadow: 1px 2px -25px -20px black;
}

#quotes .author {
 float:right;
 margin-right:42px;
 font-family: 'Dancing Script', cursive;
 font-weight: 500;
} 

.button{
    background-color: blue;
    position: absolute;
    bottom: 0;
    display: block;
    width:100%;
    height:30px;
}

#newQuote{
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
}

.button :hover{
    background-color: brown;
    transition: ease-out 2s;
}    


